body {
    font-family: "Poppins", sans-serif;
}


header .flex {
    padding: 10px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header .cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;

}

header .cabecalho h1 {
    font-size: 28px;
    color: #008B8B;
}


header .cabecalho h1::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #008B8B;
    margin: 0 auto;
    transition: width 0.5s;
}

header .cabecalho h1:hover::after {
    width: 80%;
}

header .cabecalho i {
    color: #008080;
    font-size: 32px;
    margin-left: 20px;
}

header .menu nav ul li {
    display: inline-block;
    padding: 0 30px;
}

header .menu li {
    font-size: 18px;
    color: #008B8B;
}


header .menu a {
    text-decoration: none;
    list-style-type: none;
}

header .menu nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #008B8B;
    margin: 0 auto;
    transition: width 0.5s;
}

header .menu nav ul li:hover::after {
    width: 100%;
}


.projetos {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.projetos .projeto-um {
    box-shadow: -12px -12px #008080;
    border-style: solid;
    border-color: #008080;
    border-radius: 10px;
    padding: 30px 5%;
    background: #fff;
}

.projetos .projeto-um h2 {
    font-size: 26px;
    text-align: center;
    padding: 0 15px;
    color: #000;
    box-shadow: 3px 3px #008080;
    color: #022c2c;
    border-radius: 10px;
}

.projetos .projeto-um h2:hover {
    box-shadow: 3px 3px #2eb4b4;
    color: #022c2c;
    border-radius: 10px;
}

.projetos .projeto-um a {
    text-decoration: none;
    list-style-type: none;
}

.projeto-dois-tres {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto-dois-tres .projeto-dois h2 {
    padding: 10px 10px;
    color: #000;
    box-shadow: 3px 3px #008080;
    color: #022c2c;
    border-radius: 10px;
    font-size: 18px;
}

.projeto-dois-tres .projeto-tres h2 {
    padding: 10px 10px;
    color: #000;
    box-shadow: 3px 3px #008080;
    color: #022c2c;
    border-radius: 10px;
    font-size: 18px;
}

.projeto-dois-tres .projeto-dois,
.projeto-tres {
    padding: 20px 20px;
    box-shadow: -12px -12px #008080;
    border-style: solid;
    border-color: #008080;
    border-radius: 10px;
    padding: 50px 8%;
    background: #fff;
    margin: 40px;
}

.projeto-dois-tres .projeto-dois h2:hover {
    box-shadow: 3px 3px #2eb4b4;
    color: #022c2c;
    border-radius: 10px;
}

.projeto-dois-tres .projeto-tres h2:hover {
    box-shadow: 3px 3px #2eb4b4;
    color: #022c2c;
    border-radius: 10px;
}

.projeto-dois-tres .projeto-dois a {
    text-decoration: none;
}

.projeto-dois-tres .projeto-tres a {
    text-decoration: none;
}

.projeto-quatro-cinco {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto-quatro-cinco .projeto-quatro h2 {
    padding: 10px 10px;
    color: #000;
    box-shadow: 3px 3px #008080;
    color: #022c2c;
    border-radius: 10px;
    font-size: 18px;
}

.projeto-quatro-cinco .projeto-cinco h2 {
    padding: 10px 10px;
    color: #000;
    box-shadow: 3px 3px #008080;
    color: #022c2c;
    border-radius: 10px;
    font-size: 18px;
}

.projeto-quatro-cinco .projeto-quatro,
.projeto-cinco {
    padding: 20px 20px;
    box-shadow: -14px -14px #008080;
    border-style: solid;
    border-color: #008080;
    border-radius: 10px;
    padding: 50px 8%;
    background: #fff;
    margin: 40px;
}

.projeto-quatro-cinco .projeto-quatro h2:hover {
    box-shadow: 3px 3px #2eb4b4;
    color: #022c2c;
    border-radius: 10px;
}

.projeto-quatro-cinco .projeto-cinco h2:hover {
    box-shadow: 3px 3px #2eb4b4;
    color: #022c2c;
    border-radius: 10px;
}

.projeto-quatro-cinco .projeto-quatro a {
    text-decoration: none;
}

.projeto-quatro-cinco .projeto-cinco a {
    text-decoration: none;
}

.projeto-seis-sete-oito {
    display: flex;
    justify-content: center;
    align-items: center;
}

.projeto-seis-sete-oito .projeto-seis h2 {
    padding: 10px 10px;
    color: #000;
    box-shadow: 3px 3px #008080;
    color: #022c2c;
    border-radius: 10px;
    font-size: 18px;
}


.projeto-seis-sete-oito .projeto-sete h2 {
    padding: 10px 10px;
    color: #000;
    box-shadow: 3px 3px #008080;
    color: #022c2c;
    border-radius: 10px;
    font-size: 18px;
}

.projeto-seis-sete-oito .projeto-oito h2 {
    padding: 10px 10px;
    color: #000;
    box-shadow: 3px 3px #008080;
    color: #022c2c;
    border-radius: 10px;
    font-size: 18px;
}

.projeto-seis-sete-oito .projeto-seis,
.projeto-sete,
.projeto-oito {
    padding: 20px 20px;
    box-shadow: -14px -14px #008080;
    border-style: solid;
    border-color: #008080;
    border-radius: 10px;
    padding: 50px 8%;
    background: #fff;
    margin: 40px;
}

.projeto-seis-sete-oito .projeto-seis h2:hover {
    box-shadow: 3px 3px #2eb4b4;
    color: #022c2c;
    border-radius: 10px;
}

.projeto-seis-sete-oito .projeto-sete h2:hover {
    box-shadow: 3px 3px #2eb4b4;
    color: #022c2c;
    border-radius: 10px;
}

.projeto-seis-sete-oito .projeto-oito h2:hover {
    box-shadow: 3px 3px #2eb4b4;
    color: #022c2c;
    border-radius: 10px;
}

.projeto-seis-sete-oito .projeto-seis a {
    text-decoration: none;
}

.projeto-seis-sete-oito .projeto-sete a {
    text-decoration: none;
}

.projeto-seis-sete-oito .projeto-oito a {
    text-decoration: none;
}



footer {
    padding: 0 30px;
    background: #c3ffff;
    color: #07b3b3;
    border-radius: 10px;
    border-style: solid;
    border-color: #8ad4d4;
}

footer .footer {
    padding: 0px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: unset;
}




footer .footer .icones i {
    font-size: 28px;
    padding: 20px 7px;
    color: #014444;
    cursor: pointer;
}


footer .footer .icones i:hover{
    color: #008080;
}


.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    position: relative;

}


.card-footer .card-gmail,
.card-contato {
    box-shadow: 10px 10px 0px #008080;
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 250px;
    text-align: center;
    border-style: solid;
    background: #014444;
    border-color: #00808052;
}

.card-footer .card-gmail,
.card-contato a {
    text-decoration: none;
    list-style-type: none;
}

.card-footer .card-gmail a {
    text-decoration: none;
    font-size: 12px;
    color: antiquewhite;

}

.card-footer .card-gmail i {
    font-size: 27px;
}

.card-footer .card-contato a {
    text-decoration: none;
    color: antiquewhite;
}

.card-footer .card-contato i {
    font-size: 27px;
}


.card-footer .card-gmail a:hover {
    color: #aedfdf;
    cursor: pointer;
}

.card-footer .card-contato a:hover {
    color: #aedfdf;
    cursor: pointer;
}

.card-footer .card-contato h2 {
    color: #8ad4d4;
    padding: 10px 0;
}

.card-footer .card-gmail h2 {
    color: #8ad4d4;
    padding: 10px 0;
}

.texto-footer h2 {
    color: #014444;
}

footer h2 {
    font-size: 14px;
    color: #014444;
    text-align: center;
}